<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Review of Python Types, Lists, and Dictionaries

_Author: Kiefer Katovich (San Francisco)_

---

In [10]:
# Enter Student names here:
student_names = ['yoshi','Vlada','Shel']

---

### 1) What are the types of the following variables?

In [6]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [7]:
# A:
type(f)

dict

---

### 2) What is the difference between a "mutable" and an "immutable" object?

In [ ]:
# A:

---

### 3) Print the `student_names` list.

In [9]:
# A:
print(student_names)

['yoshi', 'Vlada']

---

### 4) Print the names of the first and last students on the list.

In [13]:
# A:
student_names[0] , student_names[2]

('yoshi', 'Shel')

---

### 5) Print the first five names in the `student_names` list.

In [ ]:
# A:
student_names[0:4]

---

### 6) Combine the ninth and 10th student names into a single string, separated by a space. Assign that string to a variable.

In [15]:
# A:
new_string = student_names[0] + ' ' + student_names[2]
new_string

#    new_string.split(' ') 
#   (" ").join(new_sting)

'yoshi Shel'

---

### 7) Append an animal to the list of animals.

In [17]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [20]:
# A:
animals.append('dog')

---

### 8) Print the length of the `animals` list.

In [23]:
# A:
len(animals)

8

---

### 9) Divide the length of the fifth animal by the second.

In [102]:
#
len(animals[1])/len(animals[1])

1.0



### 10) Perform the same division, but ensure the output is a decimal number.

In [28]:
# A:
int(len(animals[1])/len(animals[1]))

1

---

### 11) Demonstrate two different ways to combine the `animals` list and the `numbers` list.

In [105]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [106]:
# A:
animals.extend(numbers)
animals

['duck',
 'rat',
 'boar',
 'slug',
 'mammoth',
 'gazelle',
 'dog',
 'dog',
 [0.0, 0.1, 1.0, 10.0, 100.0, 1000.0],
 [0.0, 0.1, 1.0, 10.0, 100.0, 1000.0],
 [0.0, 0.1, 1.0, 10.0, 100.0, 1000.0],
 0.0,
 0.1,
 1.0,
 10.0,
 100.0,
 1000.0,
 0.0,
 0.1,
 1.0,
 10.0,
 100.0,
 1000.0,
 0.0,
 0.1,
 1.0,
 10.0,
 100.0,
 1000.0]

---

### 12) Remove `'kiefer'` from the list and insert your own name in its place.

In [107]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [108]:
# A:
names.remove('kiefer')
names.insert(2, 'yoshi')
names

['doug', 'billy', 'yoshi', 'kian', 'sam']

---

### 13) Sort the following list.

In [56]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [57]:
# A:
mix.sort()

TypeError: '<' not supported between instances of 'dict' and 'list'

---

### 14) Manually check whether or not one element of `mix` is greater than another.

In [58]:
# A:
mix.max()

AttributeError: 'list' object has no attribute 'max'

---

### 15) Find the index of `'a'` in the list.

In [59]:
# A:

mix.index('a')

5

---

### 16) Reverse the `mix` list.

In [60]:
# A:

mix[::-1]

# mix.reverse()

[(1, 2, 3), 'a', 'flower', 12, 12.999, {'key': 'value'}, ['billy', 'sam']]

---

### 17) Remove the last element of `mix`  and assign it to a variable.

In [64]:
# A: mix.pop()

a = mix[len(mix)-1]
mix.remove(a)
mix

[['billy', 'sam'], {'key': 'value'}, 12.999, 12, 'flower', 'a']

---

### 18) Count the number of times `0` appears in the following list.

In [61]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [65]:
# A:
binary.count(0)

16

---

### 19) Create an SF (San Francisco) zip code dictionary.

With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [89]:

# A:

SF = {'sunset':94122 , 'presidio':94129, 'soma':94105 , 'marina':94123}
SF

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123}

---

### 20) Get the zip code for `'soma'` and assign it to a variable.

In [90]:
# A: 

SF['soma']

94105

---

### 21) Get the keys out of the dictionary.

In [91]:
# A:

SF.keys()

dict_keys(['sunset', 'presidio', 'soma', 'marina'])

---

### 22) Get the key-value pairs out of the dictionary as a list of tuples.

In [92]:
# A:

SF.items()

dict_items([('sunset', 94122), ('presidio', 94129), ('soma', 94105), ('marina', 94123)])

---

### 23) Add The Castro to the dictionary with the zip code 94114.

In [93]:
# A:
SF['Castro'] = 94114

SF

{'sunset': 94122,
 'presidio': 94129,
 'soma': 94105,
 'marina': 94123,
 'Castro': 94114}

---

### 24) Combine the following smaller dictionary of districts with the SF zip code dictionary.

In [94]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [95]:
# A:

SF.update(small)
SF

{'sunset': 94122,
 'presidio': 94129,
 'soma': 94105,
 'marina': 94123,
 'Castro': 94114,
 'outer_richmond': 94121,
 'dogpatch': 94107}

---

### 25) Remove the `'sunset'` zip code and assign it to a variable.

In [96]:
# A:
a = SF.pop('sunset')
a
SF

{'presidio': 94129,
 'soma': 94105,
 'marina': 94123,
 'Castro': 94114,
 'outer_richmond': 94121,
 'dogpatch': 94107}

---

### 26) Check if the `'dogpatch'` is in the dictionary.

In [101]:
# A:
#SF.get('dogpatch')
SF['dogpatch']

94107