<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Introduction to Python: Part Two

_Authors: Kiefer Katovich (San Francisco), Dave Yerrington (San Francisco), Joseph Nelson (Washington, D.C.), Sam Stack (Washington, D.C.)_

---

<a id='py_i'></a>
## Part 2: Python Iterations, Control Flow, and Functions

We've gone over how data can exist within the Python language. Now, let's look at the core ways of interacting with it.

- `if… elif… else` statements.
- `for` and `while` loops.
- Error handling with `try` and `except`.
- Functions.

<a id='if_else_statements'></a>

# `if… else` Statements

---

## `if` Statement

The simplest example of a control structure is the `if` statement.

In [25]:
if 1 == 1:
    print('The integer 1 is equal to the integer 1.')
    print('Is the next indented line run, too?')

The integer 1 is equal to the integer 1.
Is the next indented line run, too?

In [26]:
if 'one' == 'two':
    print("The string 'one' is equal to the string 'two'.")

print('---')
print('These two lines are not indented, so they are always run next.')

---
These two lines are not indented, so they are always run next.

When the `if` statement is run, the expression is evaluated to `True` or `False` by applying the built-in `bool()` function to it. If the expression evaluates to `True`, the code block is run; otherwise, it is skipped.

## `if` ... `else`

In many cases, you may want to run some code if the expression evaluates to `True` and some different code if it evaluates to `False`. This is done using `else`. Note how it is at the same indentation level as the `if` statement, followed by a colon, followed by a code block. Let's see it in action.

In [27]:
if 50 < 30:
    print("50 < 30.")
else:
    print("50 >= 30.")
    print("The else code block was run instead of the first block.")

print('---')
print('These two lines are not indented, so they are always run next.')

50 >= 30.
The else code block was run instead of the first block.
---
These two lines are not indented, so they are always run next.

## `if` ... `elif` ... `else`

Sometimes, you might want to run one specific code block out of several. For example, perhaps we provide the user with three choices and want something different to happen with each one.

`elif` stands for `else if`. It belongs on a line between the initial `if` statement and an (optional) `else`.

In [28]:
health = 55

if health > 70:
    print('You are in great health!')
elif health > 40:
    print('Your health is average.')
    print('Exercise and eat healthily!')
else:
    print('Your health is low.')
    print('Please see a doctor now.')

print('---')
print('These two lines are not indented, so they are always run next.')

Your health is average.
Exercise and eat healthily!
---
These two lines are not indented, so they are always run next.

This code works by evaluating each condition in order. If a condition evaluates to `True`, the rest are skipped.

**Let's look at our diagram walk through the code.** 
- First, we let `health = 55`. 
- We move to the next line at the same indentation level — the `if`. We evaluate `health > 70` to be `False`, so its code block is skipped.
- Next, the interpreter moves to the next line at the same outer indentation level, which happens to be the `elif`. It evaluates its expression, `health > 40`, to be `True`, so its code block is run. 
- Now, because a code block was run, the rest of the `if` statement is skipped.

## Practice 
### 1) Write an `if… else` statement to check whether or not the suitcase weighs more than 50 pounds.

Print a message indicating whether or not the suitcase weighs more than 50 pounds.

In [29]:
weight = float(eval(input("How many pounds does your suitcase weigh?")))

How many pounds does your suitcase weigh?3

In [30]:
# A:

if weight > 50:
    print("overweight")
else:
    print("not overweight")

not overweight

---

### 2) Write an `if… else` statement for multiple conditions.

Print out these recommendations based on the weather conditions:

1) The temperature is higher than 60 degrees and it is raining: Bring an umbrella.
2) The temperature is lower than or equal to 60 degrees and it is raining: Bring an umbrella and a jacket.
3) The temperature is higher than 60 degrees and the sun is shining: Wear a T-shirt.
4) The temperature is lower than or equal to 60 degrees and the sun is shining: Bring a jacket.

In [31]:
temperature = float(eval(input('What is the temperature? ')))
weather = input('What is the weather (rain or shine)? ')

What is the temperature? 3
What is the weather (rain or shine)? 3

In [32]:
# A: 
if temperature > 60:
    if weather == 'rain':
        print('bring umbrella')
    elif weather == 'shine':
        print('wear t shirt')
else: 
    if weather == 'rain':
        print('bring umbrella and jacket')
    elif weather == 'shine':
        print('bring jacket')

---
<a id='for_loops'></a>
# `for` Loops


One of the primary purposes of using a programming language is to automate repetitive tasks. One such means in Python is the `for` loop.

The `for` loop allows you to perform a task repeatedly on every element within an object, such as every name in a list.


Let's see how the pseudocode works:

```python
# For each individual object in the list
    # perform task_A on said object.
    # Once task_A has been completed, move to next object in the list.
```

Let's say we wanted to print each of the names in the list, as well as "is Awesome!"

In [33]:
names = ['Anthony', 'Arnie', 'Callum', 'Kelly', 'Kristina', 'Urvesh']

for name in names:
    print(name + ' Is Awesome!')

Anthony Is Awesome!
Arnie Is Awesome!
Callum Is Awesome!
Kelly Is Awesome!
Kristina Is Awesome!
Urvesh Is Awesome!

This process of cycling through a list item by item is known as **"iteration"**.

---
## Practice
### 3) Write a `for` loop that iterates from number 1 to number 15.

On each iteration, print out the number.

In [34]:
# A:
for i in range(1,16):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

---

### 4) Iterate from 1 to 15, printing whether the number is odd or even.

Hint: The modulus operator, `%`, can be used to take the remainder. For example:

```python
9 % 5 == 4
```

Or, in other words, the remainder of dividing 9 by 5 is 4.

In [35]:
# A:
for i in range(1,16):
    if i % 2 == 0:
        print('{} is even'.format(i))
    else:
        print('{} is odd'.format(i))

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd

---
<a id='fizz_buzz'></a>
### 5) Iterate from 1 to 30 using the following instructions:

1) If a number is divisible by 3, print "fizz."
2) If a number is divisible by 5, print "buzz." 
3) If a number is both divisible by 3 and by 5, print "fizzbuzz."
4) Otherwise, print just the number.

In [36]:
# A:
for i in range(1,31):
    if i % 3 == 0 and i % 5 == 0:
        print('FizzBuzz')
    elif i % 5 == 0:
        print('Buzz')
    elif i % 3 == 0:
        print('Fizz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz

Remember this example. FizzBuzz is a common coding challenge. It is relatively easy to solve, but those who ask are always looking for more creative ways to solve or optimize it.

---

### 6) Iterate through the following list of animals and print each one in all caps.

In [37]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [38]:
# A:
for i in animals:
    
    print(i.upper())

DUCK
RAT
BOAR
SLUG
MAMMOTH
GAZELLE

---

### 7) Iterate through the animals list. Capitalize the first letter and append the modified animals to a new list.

In [39]:
# A:
# A:
new_list = []
for i in animals:
    
    new_list.append(i.capitalize())
    
print(new_list)

['Duck', 'Rat', 'Boar', 'Slug', 'Mammoth', 'Gazelle']

---

### 8) Iterate through the animals. Print out the animal name and the number of vowels in the name.
Hint: You may need to create a variable of vowels for comparison.

In [40]:
for a in animals:
    print("{0}: {1}".format(a, len([c for c in a if c in ['a', 'e', 'i', 'o', 'u']])))

duck: 1
rat: 1
boar: 2
slug: 1
mammoth: 2
gazelle: 3

---
<a id='functions'></a>
# `try` / `except`
---

Sometimes, code throws a runtime error. For example, division by zero or using a keyword as a variable name.

In [41]:
1 / 0

ZeroDivisionError: division by zero

In [ ]:
print('a' - 'b')

These errors are called **exceptions**. Exceptions are serious errors that are **thrown** when the computer cannot continue because the expression cannot be evaluated properly. For example:

+ Using the addition operator to add a string and a non-string.
+ Using an undefined name.
+ Opening a file that does not exist.

Luckily, our program does not have to be this fragile. By wrapping a code block with `try`, we can "catch" exceptions. If an exception occurs, instead of exiting, the computer immediately executes the matching `except` block and continues the program.

In [ ]:
try:
    1 / 0
    print('not executed due to the exception')
except:
    print('Divide by zero!')

print('Program keeps executing!')

Sometimes, you might want to do nothing in the event of an exception. However, an indented code block is still required! So, you can use the keyword `pass`.

In [ ]:
try:
    print('a' - 'b')
except:
    pass

print('Program keeps executing!')

We can also catch specific exceptions and use try/except in more ways, but we'll keep it brief for this introduction!

---
<a id='functions'></a>
# Functions
---

Similar to the way we can use `for` loops as a means of performing repetitive tasks on a series of objects, we can also create functions to perform repetitive tasks. Within a function, we can write a large block of action and then call the function whenever we want to use it.  


Let's make some pseudocode:
```python
# Define the function name and the requirements it needs.
    # Perform actions.
    # Optional: Return output.
```

Let's create a function that takes two numbers as arguments and returns their sum, difference, and product.

In [ ]:
def arithmetic(num1, num2):
    print(num1 + num2)
    print(num1 - num2)
    print(num1 * num2)
    
arithmetic(3,5)

Once we define the function, it will exist until we reset our kernel, close our notebook, or overwrite it.

In [ ]:
arithmetic(4,10)

### 9) Write a function that takes a word as an argument and returns the number of vowels in the word.

Try it out on three words.

In [ ]:
# A:

def num_vowel(str):
    return len([i for i in str if i in ['a', 'e', 'i', 'o', 'u']])

num_vowel("aaaabc")

---

### 10) Write a function to calculate the area of a triangle using a height and width.

Test it out.

In [ ]:
# A:
def area_tri(h,w):
    return h*w/2

area_tri(2,2)

---
<a id='while_loops'></a>
# `while` Loops
---


`while` loops are a different means of performing repetitive tasks/iteration. The function of a `for` loop is to perform tasks over a _finite list_. The function of a `while` loop is to perform a repetitive task until a _specific threshold or criteria point is met_. Keep in mind that this can be relatively dangerous, as it is easy to create a loop that never meets your criteria and runs forever.

_We say "list," but we're not just talking about a Python list data type. We're including any data type where information can be iterated through._

Let's look at some pseudocode:

```python
# A threshold or criteria point is set.
    # As long as the threshold or criteria point isn't met,
    # perform a task.
    # Check threshold/criteria point.
        # If threshold/criteria point is met or exceeded,
            # break loop.
        # If not, repeat.
    
```

An example of an infinite `while` loop:

```python
x = 0
while x < 10:
    print x
```

Because the value assigned to `x` never changes and always remains less than 10, this loop will print "`x`" infinitely until you force-kill the kernel. 

We can fix this infinity loop by including a incrementation for `x` within it.

```python
x = 0
while x < 10:
    print x
    x = x+1
```

### 11) Use `while` loops and strings.

Iterate over the following sentence repeatedly, counting the number of vowels in the sentence until you have tallied one million. Print out the number of iterations it took to reach that amount.

In [ ]:
sentence = "A MAN KNOCKED ON MY DOOR AND ASKED FOR A SMALL DONATION TOWARDS THE LOCAL SWIMMING POOL SO I GAVE HIM A GLASS OF WATER"

In [ ]:
# A:
def num_vowel(str):
    return len([i for i in str if i in ['A', 'E', 'I', 'O', 'U']])

count = 0
c = 0
while count < 1000000:
    count += num_vowel(sentence)
    c += 1
    
print(c)

---

### 12) Try to convert elements in a list to floats.

Create a new list with the converted numbers. If something cannot be converted, skip it and append nothing to the new list.

_Hint: Use error-handling methods._

In [ ]:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']

In [ ]:
# A:

uncorrupted = []
for c in corrupted:
    try:
        uncorrupted.append(float(c))
    except Exception:
        pass
print(uncorrupted)

---
<a id='coffee_preference'></a>

# Practice Control Flow on the Coffee Preference Data Set

### 1) Load Coffee Preference data from file and print.

The code to load in the data is provided below. 

The `with open(..., 'r') as f:` opens up a file in "read" mode (rather than "write") and assigns this opened file to `f`. 

We can then use the built-in `.readlines()` function to split the CSV file on newlines and assign it to the variable `lines`.

In [93]:
with open('data/coffee-preferences.csv','r') as f:
    lines = f.readlines()

In [94]:
lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe\n',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,\n',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5\n',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1\n',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3\n',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,\n',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3\n',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,\n',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2\n',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4\n',
 '3/17/2015 18:39:23,Hugh,1,5,5,4,5,2,5,4,1\n',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,\n',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,\n',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3\n',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5\n',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2\n',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,\n',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3\n',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,\n',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3\n',
 '3/17/2015 18:42:01,Cheong-tseng,3,1,,,,,4,,']

#### Iterate through `lines` and print them out.

In [95]:
# A:

for a in lines:
    print(a)

Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe

3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,

3/17/2015 18:38:09,April,4,5,5,3,,,3,,5

3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1

3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3

3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,

3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3

3/17/2015 18:39:01,Dave H,4,5,,5,,,,,

3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2

3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4

3/17/2015 18:39:23,Hugh,1,5,5,4,5,2,5,4,1

3/17/2015 18:39:23,Alex,4,5,,3,,,,,

3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,

3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3

3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5

3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2

3/17/2015 18:40:49,Markus,3,5,,3,,,4,,

3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3

3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,

3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3

3/17/2015 18:42:01,Cheong-tseng,3,1,,,,,4,,

#### Print out just the `lines` object by typing "lines" in a cell and hitting `enter`.

In [96]:
# A:

lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe\n',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,\n',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5\n',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1\n',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3\n',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,\n',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3\n',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,\n',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2\n',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4\n',
 '3/17/2015 18:39:23,Hugh,1,5,5,4,5,2,5,4,1\n',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,\n',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,\n',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3\n',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5\n',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2\n',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,\n',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3\n',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,\n',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3\n',
 '3/17/2015 18:42:01,Cheong-tseng,3,1,,,,,4,,']

---

### 2) Remove the remaining newline `'\n'` characters with a `for` loop.

Iterate through the lines of the data and remove the unwanted newline characters.

**.replace('\n', '')** is a built-in string function that will take the substring you want to replace as its first argument and the string you want to replace it with as its second.

In [97]:
# A:

new_data = []
for a in lines:
    new_data.append(a.replace('\n',''))
    
new_data

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4',
 '3/17/2015 18:39:23,Hugh,1,5,5,4,5,2,5,4,1',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3',
 '3/17/2015 18:42:01,Cheong-tseng,3,1,,,,,4,,']

---

### 3) Split the lines into "header" and "data" variables.

The header is the first string in the list of strings. It contains our data's column names.

In [98]:
# A:
header = new_data[0]
data = new_data[1:]
header

'Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe'

---

### 4) Split the header and data strings on commas.

To split a string on the comma character, use the built-in **`.split(',')`** function. 

Split the header on commas, then print it. You can see that the original string is now a list containing items that were originally separated by commas.

In [99]:
# A:
new_data = []
for a in data:
    new_data.append(a.split(','))

    
new_data

header = header.split(',')
header

['Timestamp',
 'Name',
 'Starbucks',
 'PhilzCoffee',
 'BlueBottleCoffee',
 'PeetsTea',
 'CaffeTrieste',
 'GrandCoffee',
 'RitualCoffee',
 'FourBarrel',
 'WorkshopCafe']


---

### 5) Remove the "Timestamp" column.

We aren't interested in the "Timestamp" column in our data, so remove it from the header and data list.

Removing "Timestamp" from the header can be done with list functions or with slicing. To remove the header column from the data, use a `for` loop.

Print out the new data object with the timestamps removed.

In [100]:
# A:

header_removed = header[1:]
header_removed

data_removed = []
for a in new_data:
    data_removed.append(a[1:])
    
data_removed

[['Alison', '3', '5', '4', '3', '', '', '5', '5', ''],
 ['April', '4', '5', '5', '3', '', '', '3', '', '5'],
 ['Vijay', '3', '5', '5', '5', '3', '2', '1', '1', '1'],
 ['Vanessa', '1', '5', '5', '2', '', '', '3', '2', '3'],
 ['Isabel', '1', '4', '4', '2', '4', '', '4', '4', ''],
 ['India', '5', '3', '3', '3', '3', '1', '', '', '3'],
 ['Dave H', '4', '5', '', '5', '', '', '', '', ''],
 ['Deepthi', '3', '5', '', '2', '', '', '', '', '2'],
 ['Ramesh', '3', '4', '', '3', '', '', '', '', '4'],
 ['Hugh', '1', '5', '5', '4', '5', '2', '5', '4', '1'],
 ['Alex', '4', '5', '', '3', '', '', '', '', ''],
 ['Ajay Anand', '3', '4', '4', '3', '5', '', '', '', ''],
 ['David Feng', '2', '3', '4', '2', '2', '', '5', '4', '3'],
 ['Zach', '3', '4', '4', '3', '', '', '', '', '5'],
 ['Matt', '3', '5', '4', '3', '2', '2', '4', '3', '2'],
 ['Markus', '3', '5', '', '3', '', '', '4', '', ''],
 ['Otto', '4', '2', '2', '5', '', '', '3', '3', '3'],
 ['Alessandro', '1', '5', '3', '2', '', '', '4', '3', ''],
 ['Rocky', '3', '5', '4', '3', '3', '3', '4', '4', '3'],
 ['Cheong-tseng', '3', '1', '', '', '', '', '4', '', '']]

---

### 6) Convert numeric columns to floats and empty fields to `None`.

Iterate through the data and construct a new data list of lists that contains the numeric ratings converted from strings to floats and the empty fields (which are empty strings, '') replaced with the `None` object.

Use a nested `for` loop (a `for` loop within another `for` loop) to get the job done. You will likely need to use `if… else` conditional statements as well.

Print out the new data object to make sure you've succeeded.

In [144]:
# A:

data_cleaned = []
for row in data_removed:
    new_row = []
    for i, col in enumerate(row):
        if i == 0:
            new_row.append(col)
        else:
            if col == '':
                new_row.append(None)
            else:
                new_row.append(float(col))
    data_cleaned.append(new_row)    

data_cleaned

[['Alison', 3.0, 5.0, 4.0, 3.0, None, None, 5.0, 5.0, None],
 ['April', 4.0, 5.0, 5.0, 3.0, None, None, 3.0, None, 5.0],
 ['Vijay', 3.0, 5.0, 5.0, 5.0, 3.0, 2.0, 1.0, 1.0, 1.0],
 ['Vanessa', 1.0, 5.0, 5.0, 2.0, None, None, 3.0, 2.0, 3.0],
 ['Isabel', 1.0, 4.0, 4.0, 2.0, 4.0, None, 4.0, 4.0, None],
 ['India', 5.0, 3.0, 3.0, 3.0, 3.0, 1.0, None, None, 3.0],
 ['Dave H', 4.0, 5.0, None, 5.0, None, None, None, None, None],
 ['Deepthi', 3.0, 5.0, None, 2.0, None, None, None, None, 2.0],
 ['Ramesh', 3.0, 4.0, None, 3.0, None, None, None, None, 4.0],
 ['Hugh', 1.0, 5.0, 5.0, 4.0, 5.0, 2.0, 5.0, 4.0, 1.0],
 ['Alex', 4.0, 5.0, None, 3.0, None, None, None, None, None],
 ['Ajay Anand', 3.0, 4.0, 4.0, 3.0, 5.0, None, None, None, None],
 ['David Feng', 2.0, 3.0, 4.0, 2.0, 2.0, None, 5.0, 4.0, 3.0],
 ['Zach', 3.0, 4.0, 4.0, 3.0, None, None, None, None, 5.0],
 ['Matt', 3.0, 5.0, 4.0, 3.0, 2.0, 2.0, 4.0, 3.0, 2.0],
 ['Markus', 3.0, 5.0, None, 3.0, None, None, 4.0, None, None],
 ['Otto', 4.0, 2.0, 2.0, 5.0, None, None, 3.0, 3.0, 3.0],
 ['Alessandro', 1.0, 5.0, 3.0, 2.0, None, None, 4.0, 3.0, None],
 ['Rocky', 3.0, 5.0, 4.0, 3.0, 3.0, 3.0, 4.0, 4.0, 3.0],
 ['Cheong-tseng', 3.0, 1.0, None, None, None, None, 4.0, None, None]]

---

### 7) Count the `None` values per person and put the counts in a dictionary.

Use a `for` loop to count the number of `None` values per person. Create a dictionary with the names of the people as keys and the counts of `None` as values.

Who rated the most coffee brands? Who rated the least?

In [145]:
# A: the person who rated the  most is Hugh and Rocky, the person who rated the least are Alex and cheong

count_nones = {}
for row in data_cleaned:
    nones = 0
    for a in row:
        if a == None:
            nones += 1

    count_nones[row[0]] = nones
    
count_nones

{'Alison': 3,
 'April': 3,
 'Vijay': 0,
 'Vanessa': 2,
 'Isabel': 2,
 'India': 2,
 'Dave H': 6,
 'Deepthi': 5,
 'Ramesh': 5,
 'Hugh': 0,
 'Alex': 6,
 'Ajay Anand': 4,
 'David Feng': 1,
 'Zach': 4,
 'Matt': 0,
 'Markus': 5,
 'Otto': 2,
 'Alessandro': 3,
 'Rocky': 0,
 'Cheong-tseng': 6}

---

### 8) Calculate average rating per coffee brand.

**Excluding `None` values**, calculate the average rating per brand of coffee.

The final output should be a dictionary with the coffee brand names as keys and their average rating as the values.

Remember that the average can be calculated as the sum of the ratings over the number of ratings:

```python
average_rating = float(sum(ratings_list))/len(ratings_list)
```

Print your dictionary to see the average brand ratings.

In [151]:
# A:

#creates new dictionary
brand_ratings = {}
for brand in header_removed[1:]:
    brand_ratings[brand] = []

#print(brand_ratings)

for row in data_cleaned:
    for i, cell in enumerate(row):
        if i > 0 and not cell == None:
            brand_ratings[header_removed[i]].append(cell)

brand_avg_ratings = {}
for brand, ratings in brand_ratings.items():
    print('{} {}'.format(brand, ratings))
    brand_avg_ratings[brand] = float(sum(ratings))/len(ratings)
    
brand_avg_ratings

Starbucks [3.0, 4.0, 3.0, 1.0, 1.0, 5.0, 4.0, 3.0, 3.0, 1.0, 4.0, 3.0, 2.0, 3.0, 3.0, 3.0, 4.0, 1.0, 3.0, 3.0]
PhilzCoffee [5.0, 5.0, 5.0, 5.0, 4.0, 3.0, 5.0, 5.0, 4.0, 5.0, 5.0, 4.0, 3.0, 4.0, 5.0, 5.0, 2.0, 5.0, 5.0, 1.0]
BlueBottleCoffee [4.0, 5.0, 5.0, 5.0, 4.0, 3.0, 5.0, 4.0, 4.0, 4.0, 4.0, 2.0, 3.0, 4.0]
PeetsTea [3.0, 3.0, 5.0, 2.0, 2.0, 3.0, 5.0, 2.0, 3.0, 4.0, 3.0, 3.0, 2.0, 3.0, 3.0, 3.0, 5.0, 2.0, 3.0]
CaffeTrieste [3.0, 4.0, 3.0, 5.0, 5.0, 2.0, 2.0, 3.0]
GrandCoffee [2.0, 1.0, 2.0, 2.0, 3.0]
RitualCoffee [5.0, 3.0, 1.0, 3.0, 4.0, 5.0, 5.0, 4.0, 4.0, 3.0, 4.0, 4.0, 4.0]
FourBarrel [5.0, 1.0, 2.0, 4.0, 4.0, 4.0, 3.0, 3.0, 3.0, 4.0]
WorkshopCafe [5.0, 1.0, 3.0, 3.0, 2.0, 4.0, 1.0, 3.0, 5.0, 2.0, 3.0, 3.0]

{'Starbucks': 2.85,
 'PhilzCoffee': 4.25,
 'BlueBottleCoffee': 4.0,
 'PeetsTea': 3.1052631578947367,
 'CaffeTrieste': 3.375,
 'GrandCoffee': 2.0,
 'RitualCoffee': 3.769230769230769,
 'FourBarrel': 3.3,
 'WorkshopCafe': 2.9166666666666665}

---

### 9) Create a list containing only the people's names.

In [147]:
# A:
people = []
for a in data_cleaned:
    people.append(a[0])
    
print(len(people))
people

20

['Alison',
 'April',
 'Vijay',
 'Vanessa',
 'Isabel',
 'India',
 'Dave H',
 'Deepthi',
 'Ramesh',
 'Hugh',
 'Alex',
 'Ajay Anand',
 'David Feng',
 'Zach',
 'Matt',
 'Markus',
 'Otto',
 'Alessandro',
 'Rocky',
 'Cheong-tseng']

---

### 11) Picking a name at random. What are the odds of choosing the same name three times in a row?

Now, we'll use a `while` loop to "brute force" the odds of choosing the same name three times in a row randomly from the list of names.

"Brute force" is a term used quite frequently in programming to refer to a computationally inefficient way of solving a problem. It's brute force in this situation because we can use statistics to solve this much more efficiently than if we actually played out an entire scenario.

Below, we've imported the **`random`** package, which has the essential function for this code: **`random.choice()`**.
The function takes a list as an argument and returns one of the elements of that list at random.

In [148]:
import random
# Choose a random person from the list of people:
# random.choice(people)

Write a function to choose a person from the list randomly three times and check if they are all the same.

Define a function that has the following properties:

1) Takes a list (your list of names) as an argument.
2) Selects a name using `random.choice(people)` three separate times.
3) Returns `True` if the name was the same all three times; otherwise returns `False`.

In [149]:
# A:
def choose_three(people):
    person1 = random.choice(people)
    person2 = random.choice(people)
    person3 = random.choice(people)
    
    if person1 == person2 == person3:
        return True
    else:
        return False

---

### 12) Construct a `while` loop to run the choosing function until it returns `True`.

Run the function until you draw the same person three times using a `while` loop. Keep track of how many tries it took and print out the number of tries after it runs.

In [150]:
# A:
count = 0
chose_same_person = False

while not chose_same_person:
    count += 1
    
    chosen_same_person = choose_three(people)

count

KeyboardInterrupt:

# Independent Practice: Data Types 

Launch `python-functions.ipynb` and practice writing functions.



----