In [10]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
player_data = pd.read_csv('./nba-players-stats/player_data.csv')

players = pd.read_csv('./nba-players-stats/players.csv')

Seasons_Stats = pd.read_csv('./nba-players-stats/Seasons_Stats.csv')

In [13]:
player_data.head(5)

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University

In [21]:
players.tail(35)

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
3887,3887,Jamal Murray,193.0,93.0,University of Kentucky,1997.0,Kitchener,Canada
3888,3888,Maurice Ndour,206.0,90.0,Ohio University,1992.0,Sindia,Senegal
3889,3889,Georges Niang,203.0,104.0,Iowa State University,1993.0,Lawrence,Massachusetts
3890,3890,David Nwaba,193.0,94.0,"California Polytechnic State University, San L...",1993.0,Los Angeles,California
3891,3891,Daniel Ochefu,211.0,111.0,Villanova University,1993.0,Baltimore,Maryland
3892,3892,Chinanu Onuaku,208.0,111.0,University of Louisville,1996.0,Baltimore,Maryland
3893,3893,Georgios Papagiannis,216.0,108.0,NaN,1997.0,Amarousio,Greece
3894,3894,Gary Payton,193.0,81.0,Oregon State University,1968.0,Oakland,California
3895,3895,Marshall Plumlee,211.0,111.0,Duke University,1990.0,Fort Wayne,Indiana
3896,3896,Jakob Poeltl,213.0,112.0,University of Utah,1995.0,Vienna,Austria
3897,3897,Alex Poythress,201.0,107.0,University of Kentucky,1993.0,Savannah,Georgia
3898,3898,Tim Quarterman,198.0,88.0,Louisiana State University,1994.0,Savannah,Georgia
3899,3899,Chasson Randle,188.0,83.0,Stanford University,1993.0,Rock Island,Illinois
3900,3900,Malachi Richardson,198.0,92.0,Syracuse University,1996.0,Trenton,New Jersey
3901,3901,Domantas Sabonis,211.0,108.0,Gonzaga University,1996.0,Portland,Oregon
3902,3902,Dario Saric,208.0,101.0,NaN,1994.0,Sibenik,Croatia
3903,3903,Tomas Satoransky,201.0,95.0,NaN,1991.0,Prague,Czech Republic
3904,3904,Wayne Selden,196.0,104.0,University of Kansas,1994.0,Roxbury,Massachusetts
3905,3905,Pascal Siakam,206.0,104.0,New Mexico State University,1994.0,Douala,Cameroon
3906,3906,Diamond Stone,211.0,115.0,University of Maryland,1997.0,Milwaukee,Wisconsin
3907,3907,Edy Tavares,211.0,115.0,NaN,1997.0,NaN,NaN
3908,3908,Isaiah Taylor,190.0,77.0,University of Texas at Austin,1994.0,Hayward,California
3909,3909,Mike Tobey,213.0,117.0,University of Virginia,1994.0,Monroe,New York
3910,3910,Tyler Ulis,178.0,68.0,University of Kentucky,1996.0,Detroit,Michigan
3911,3911,Jarrod Uthoff,206.0,100.0,University of Iowa,1993.0,Cedar Rapids,Iowa
3912,3912,Denzel Valentine,198.0,96.0,Michigan State University,1993.0,Lansing,Michigan
3913,3913,Fred VanVleet,183.0,88.0,Wichita State University,1994.0,Rockford,Illinois
3914,3914,Taurean Waller-Prince,183.0,88.0,NaN,1994.0,NaN,NaN
3915,3915,Okaro White,203.0,92.0,Florida State University,1992.0,Clearwater,Florida
3916,3916,Isaiah Whitehead,193.0,96.0,Seton Hall University,1995.0,Brooklyn,New York
3917,3917,Troy Williams,198.0,97.0,South Carolina State University,1969.0,Columbia,South Carolina
3918,3918,Kyle Wiltjer,208.0,108.0,Gonzaga University,1992.0,Portland,Oregon
3919,3919,Stephen Zimmerman,213.0,108.0,"University of Nevada, Las Vegas",1996.0,Hendersonville,Tennessee
3920,3920,Paul Zipser,203.0,97.0,NaN,1994.0,Heidelberg,Germany
3921,3921,Ivica Zubac,216.0,120.0,NaN,1997.0,Mostar,Bosnia and Herzegovina

In [20]:
Seasons_Stats.tail(35)

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
5,5,1950.0,Ed Bartels,F,24.0,NYK,2.0,NaN,NaN,NaN,...,0.667,NaN,NaN,NaN,0.0,NaN,NaN,NaN,2.0,4.0
6,6,1950.0,Ralph Beard,G,22.0,INO,60.0,NaN,NaN,NaN,...,0.762,NaN,NaN,NaN,233.0,NaN,NaN,NaN,132.0,895.0
7,7,1950.0,Gene Berce,G-F,23.0,TRI,3.0,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,2.0,NaN,NaN,NaN,6.0,10.0
8,8,1950.0,Charlie Black,F-C,28.0,TOT,65.0,NaN,NaN,NaN,...,0.651,NaN,NaN,NaN,163.0,NaN,NaN,NaN,273.0,661.0
9,9,1950.0,Charlie Black,F-C,28.0,FTW,36.0,NaN,NaN,NaN,...,0.632,NaN,NaN,NaN,75.0,NaN,NaN,NaN,140.0,382.0
10,10,1950.0,Charlie Black,F-C,28.0,AND,29.0,NaN,NaN,NaN,...,0.688,NaN,NaN,NaN,88.0,NaN,NaN,NaN,133.0,279.0
11,11,1950.0,Nelson Bobb,PG,25.0,PHW,57.0,NaN,NaN,NaN,...,0.626,NaN,NaN,NaN,46.0,NaN,NaN,NaN,97.0,242.0
12,12,1950.0,Jake Bornheimer,F-C,22.0,PHW,60.0,NaN,NaN,NaN,...,0.667,NaN,NaN,NaN,40.0,NaN,NaN,NaN,111.0,254.0
13,13,1950.0,Vince Boryla,SF,22.0,NYK,59.0,NaN,NaN,NaN,...,0.764,NaN,NaN,NaN,95.0,NaN,NaN,NaN,203.0,612.0
14,14,1950.0,Don Boven,F-G,24.0,WAT,62.0,NaN,NaN,NaN,...,0.688,NaN,NaN,NaN,137.0,NaN,NaN,NaN,255.0,656.0
15,15,1950.0,Harry Boykoff,C,27.0,WAT,61.0,NaN,NaN,NaN,...,0.775,NaN,NaN,NaN,149.0,NaN,NaN,NaN,229.0,779.0
16,16,1950.0,Joe Bradley,G,21.0,CHS,46.0,NaN,NaN,NaN,...,0.395,NaN,NaN,NaN,36.0,NaN,NaN,NaN,51.0,87.0
17,17,1950.0,Bob Brannum,PF,24.0,SHE,59.0,NaN,NaN,NaN,...,0.690,NaN,NaN,NaN,205.0,NaN,NaN,NaN,279.0,713.0
18,18,1950.0,Carl Braun,G-F,22.0,NYK,67.0,NaN,NaN,NaN,...,0.762,NaN,NaN,NaN,247.0,NaN,NaN,NaN,188.0,1031.0
19,19,1950.0,Frankie Brian,G,26.0,AND,64.0,NaN,NaN,NaN,...,0.824,NaN,NaN,NaN,189.0,NaN,NaN,NaN,192.0,1138.0
20,20,1950.0,Price Brookfield,F-G,29.0,ROC,7.0,NaN,NaN,NaN,...,0.923,NaN,NaN,NaN,1.0,NaN,NaN,NaN,7.0,34.0
21,21,1950.0,Bob Brown,F,26.0,DNN,62.0,NaN,NaN,NaN,...,0.683,NaN,NaN,NaN,101.0,NaN,NaN,NaN,269.0,724.0
22,22,1950.0,Jim Browne,C,20.0,DNN,31.0,NaN,NaN,NaN,...,0.481,NaN,NaN,NaN,8.0,NaN,NaN,NaN,16.0,47.0
23,23,1950.0,Walt Budko,PF,24.0,BLB,66.0,NaN,NaN,NaN,...,0.757,NaN,NaN,NaN,146.0,NaN,NaN,NaN,259.0,595.0
24,24,1950.0,Jack Burmaster,G,23.0,SHE,61.0,NaN,NaN,NaN,...,0.681,NaN,NaN,NaN,179.0,NaN,NaN,NaN,237.0,598.0
25,25,1950.0,Tommy Byrnes,F-G,26.0,BLB,53.0,NaN,NaN,NaN,...,0.702,NaN,NaN,NaN,88.0,NaN,NaN,NaN,76.0,327.0
26,26,1950.0,Bill Calhoun,SG,22.0,ROC,62.0,NaN,NaN,NaN,...,0.719,NaN,NaN,NaN,115.0,NaN,NaN,NaN,100.0,560.0
27,27,1950.0,Don Carlson,G-F,30.0,MNL,57.0,NaN,NaN,NaN,...,0.726,NaN,NaN,NaN,76.0,NaN,NaN,NaN,126.0,267.0
28,28,1950.0,Bob Carpenter,F-C,32.0,FTW,66.0,NaN,NaN,NaN,...,0.742,NaN,NaN,NaN,92.0,NaN,NaN,NaN,168.0,614.0
29,29,1950.0,Jake Carter,F-C,25.0,TOT,24.0,NaN,NaN,NaN,...,0.679,NaN,NaN,NaN,24.0,NaN,NaN,NaN,59.0,82.0
30,30,1950.0,Jake Carter,F-C,25.0,DNN,13.0,NaN,NaN,NaN,...,0.692,NaN,NaN,NaN,16.0,NaN,NaN,NaN,27.0,44.0
31,31,1950.0,Jake Carter,F-C,25.0,AND,11.0,NaN,NaN,NaN,...,0.667,NaN,NaN,NaN,8.0,NaN,NaN,NaN,32.0,38.0
32,32,1950.0,Al Cervi*,PG,32.0,SYR,56.0,NaN,NaN,NaN,...,0.829,NaN,NaN,NaN,264.0,NaN,NaN,NaN,223.0,573.0
33,33,1950.0,John Chaney,F-C,29.0,TOT,16.0,NaN,NaN,NaN,...,0.690,NaN,NaN,NaN,20.0,NaN,NaN,NaN,23.0,70.0
34,34,1950.0,John Chaney,F-C,29.0,TRI,6.0,NaN,NaN,NaN,...,0.667,NaN,NaN,NaN,15.0,NaN,NaN,NaN,13.0,28.0

In [16]:
Seasons_Stats.shape

(24691, 53)

In [17]:
players.shape

(3922, 8)

In [18]:
player_data.shape

(4550, 8)